.App {
  text-align: center;
}



.imageCss{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.selectedUserBlock{
  background: #8080804d;
  padding: 0px 5px;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedUserBlockHighlited{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: white;
  background: grey;
  border-radius: 15px;

}

.selectedUserImage{
  border-radius: 28px;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.inputCss{
  border: none;
  width: 100%;
  height: 100%;
  height: 50px;
}
.inputCss :focus{
  border: none;
  
}
.inputCss :focus .inputWrapperCss{
  border-bottom: 1px solid blue;
  
}

.inputWrapperCss{

  display: flex;
  width: 500px;
  border-bottom: 1px solid;
  text-align: left;
  margin: auto;
 
}

.suggestionWrapper{
  width: 500px;
  margin: auto;
  text-align: left;
  background: #dcdcdc6e;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 6px 0px;
}

.suggestionWrapper{
  display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #7077634d;
}

.closeIcon{
  background: black;
  border-radius: 20px;
  height: 20px;
  margin-left: 10px;
  width: 20px;
  display: flex;
  justify-content: center;
}